<!doctype html>
<html class="fixed">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">
		<title>Patient Dashboard</title>
		<meta name="keywords" content="Memory Regainer" />
		<meta name="description" content="Regain memory about a person for memory loss patients">
		<meta name="author" content="bobby">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->

		<link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../static/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="../static/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="../static/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="../static/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="../static/vendor/morris/morris.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../static/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../static/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../static/stylesheets/theme-custom.css">
		<link rel="stylesheet" href="../static/stylesheets/xeditable.css">

		<!-- Head Libs -->
		<script src="../static/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<!-- start: search & user box -->
				<div class="header-right">

					<form action="pages-search-results.html" class="search nav-form">
						<div class="input-group input-search">
							<input type="text" class="form-control" name="q" id="q" placeholder="Search friends...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>

					<span class="separator"></span>

					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="..{{imgurl}}" alt="{{namw}}" class="img-circle" data-lock-picture="../static/images/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
								<span class="name">{{name}}</span>
								<span class="role">Patient</span>
							</div>
							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="patientprofile.html"><i class="fa fa-user"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="signout"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

					<div class="sidebar-header">
						<div class="sidebar-title">
							Menu
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav">
										<a>
											<i class="fa fa-group" aria-hidden="true"></i>
											<span>My Dashboard</span>
										</a>
									</li>
									<li class="nav">
										<a>
											<i class="fa fa-filter" aria-hidden="true"></i>
											<span>Friends</span>
										</a>
									</li>
								</ul>
							</nav>
							<hr class="separator" />
						</div>
					</div>
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>My Dashboard</h2>
					</header>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<div class="row">
					      	<div class="alert alert-success">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					        	<strong>NOTIFICATION!</strong>

										{% for message in messages %}
					              <p>{{ message }} </p>
										{% endfor %}
									</div>
					    </div>
						{% endif %}
					{% endwith %}
					<div class="row">
						<div class="col-md-12">
							<section class="panel panel-transparent">
								<header class="panel-heading">
								<!--	<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div> -->
									<div class="row">
										<div class="col-sm-8">
											<h4 class="text text-dark">List of Friends/Relatives</h4>
										</div>
										<div class="col-sm-4 text-right">
										<a class="popup-with-form btn btn-success hidden-xs" href="#invite"><i class="fa fa-plus"></i> Invite a Person</a>
										<a class="popup-with-form btn btn-success btn-block btn-lg visible-xs mt-lg" href="#invite"><i class="fa fa-plus"></i> Invite a Person</a>
										</div>
									</div>
								</header>
								<div class="panel-body">
									<div id="rating">
										<div ng-controller="RatingDemoCtrl" ng-cloak>
											<form id="invite" class="white-popup-block mfp-hide form-horizontal" ng-submit="addcandy()">
												<div class="row">
													<div class="col-sm-12">
														<h3>Invite a Person</h3>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Email</label>
													<div class="col-sm-9">
														<input type="email" name="email" ng-model="cemail" class="form-control" placeholder="Type candidate's email..." required/>
													</div>
												</div>
												<div class="col-sm-12">
													<h3>Invitation Preview</h3>
												</div>
												<div class="col-xs-6 col-xs-offset-1" id="out">
												<strong>To</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{acemaila}<br>
												<strong>Subject</strong>&nbsp&nbsp<span>Request for Information</span>
											</div>

												<div class="col-xs-6 col-xs-offset-1" ng-model="content">
													<div id="parent">
												<textarea rows="7" id="mailcontent">
Hi this is {{name}}. I have some trouble in remembering people.
Please help me by sharing your information and the relationship we have with each other.
Thank you.
												</textarea>
											</div>
											</div>
												<div class="row mb-xs">
													<div class="col-xs-8 col-xs-offset-4">
														<button type="submit" class="btn btn-success"><i class="fa fa-send"></i><span ng-show="check">
													</span>{a sendbutton a}</button>
														<button type="reset" class="btn btn-default">Reset</button>
													</div>
												</div>
												<div ng-model= "clink" name="urlink">
													<div class="row text-center text-danger" ng-if="d == '1'">
											    <i class="fa fa-exclamation-circle"></i> <span class="text text-danger">{a clink a} </span>
											    </div>
													<div class="row text-center text-success" ng-if="d == '2'">
											    <i class="fa  fa-thumbs-up"></i> <span class="text text-success">{a clink a} </span>
											    </div>
											</div>
											</form>
												<div class="table-responsive" ng-hide="!invites.length">
												<table class="table table-hover mb-none">
													<thead>
														<tr>
															<th>Name</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody>
														<tr class="gradeX" ng-repeat="invite in invites">
															<td>{a invite.nickemail a}</td>
															<td ng-if="invite.status == '2'">
																<span class="label label-success">Accepted</span>
															</td>
															<td ng-if="invite.status == '1'">
																<span class="label label-danger">Not Accepted</span>
															</td>
														</tr>
													</tbody>
												</table>
												</div>
												<div class="alert alert-info" ng-show="!invites.length">
													<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
													<strong>Nothing to show here!</strong> Invite a person to get started.
												</div>
										</div>
									</div>
								</div>
							</section>
						</div>
				  </div>
					<!-- end: page -->
				</section>
			</div>
		</section>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
		<script>
			//ng-app for rating
			angular.module('rating', []);
			angular.module('rating').config(['$interpolateProvider', function($interpolateProvider) {
				$interpolateProvider.startSymbol('{a');
				$interpolateProvider.endSymbol('a}');
			}]);
			angular.module('rating').controller('RatingDemoCtrl', function ($scope,$http,$window,$timeout) {

				$http.post("/recang",{
				inamecode: "superman"
			})
			.then(function(response) {
				$scope.invites = response.data.datajson;
			})

			$scope.sendbutton = "Send";
			$scope.check = "false";
			$scope.addcandy = function() {
					$scope.check = "true";
					$scope.sendbutton = "Sending";
					var mc = (document.getElementById("mailcontent").value);
					$http.post("/invitecan",
				{
					cemaildb: $scope.cemail,
					mc: mc
				})
				.success(function(data, status) {
					//$scope.clink=data;

					if(data=='1'){
					$scope.d='1';
						$timeout(function(){
									$scope.check = "false";
									$scope.sendbutton = "Send";
								}, 100);

					$scope.clink = "Something went wrong!";
					}
					else if(data=='2'){
					//green signal
					//going to update the list http.post
					$http.post("/recang",{
					inamecode: "superman"
					})
					.then(function(response) {

					$scope.invites = response.data.datajson;
					})
					$scope.d='2';
					$timeout(function(){
								$scope.check = "false";
								$scope.sendbutton = "Send";
							}, 100);
					$scope.clink = "Invitation successfully sent. Your list is updated!";
					}
				})
				}

			});
			//second cand controller
			angular.module('rating').controller('CandidateCtrl', function ($scope, $http){
			});
			var rating = document.getElementById('rating');
			angular.element(document).ready(function() {
			angular.bootstrap(rating, ['rating']);
			});
		</script>

		<!-- Vendor -->
		<script src="../static/vendor/jquery/jquery.js"></script>
		<script src="../static/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="../static/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="../static/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="../static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="../static/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="../static/vendor/jquery-placeholder/jquery.placeholder.js"></script>

		<!-- Specific Page Vendor -->
		<script src="../static/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="../static/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="../static/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="../static/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="../static/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
		<script src="../static/vendor/flot/jquery.flot.js"></script>
		<script src="../static/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
		<script src="../static/vendor/flot/jquery.flot.pie.js"></script>
		<script src="../static/vendor/flot/jquery.flot.categories.js"></script>
		<script src="../static/vendor/flot/jquery.flot.resize.js"></script>
		<script src="../static/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="../static/vendor/raphael/raphael.js"></script>
		<script src="../static/vendor/morris/morris.js"></script>
		<script src="../static/vendor/gauge/gauge.js"></script>
		<script src="../static/vendor/snap-svg/snap.svg.js"></script>
		<script src="../static/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="../static/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="../static/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="../static/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="../static/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="../static/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="../static/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="../static/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="../static/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="../static/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="../static/javascripts/theme.js"></script>

		<!-- Theme Custom -->
		<script src="../static/javascripts/theme.custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="../static/javascripts/theme.init.js"></script>

		<!-- Examples -->
		<script src="../static/javascripts/ui-elements/examples.lightbox.js"></script>

	</body>
</html>
